  
  <div class="d-md-flex main">
    
    <div class="card-body mt-4 text-xs-center  ">
    <span class="title">Contact us</span>
    <form class="form">

    <div class="name col-10 col-sm-8 col-md-10 " >
      <input type="text" placeholder="Name">
      <i class="fa fa-user"></i>
    </div>

    <div class="email col-10 col-sm-8 col-md-10 ">
      <input type="email" placeholder=" Email">
      <i class="fa fa-envelope"></i>
    </div>
      
    <div class="query col-10 col-sm-8 col-md-10 ">
      <textarea placeholder="Message"></textarea>
    </div>
      
      <button class="col-10 col-sm-8 col-md-10" type="submit">Send Message</button>

  </form>
     
    </div>
    <div class="d-none d-lg-block d-xl-block d-xxl-block">
      <img src="../../assets/contactUs.jpg" alt="image">
    </div>
  </div>


   <!-- <p> If you have any technical issues or questions regarding using this application, please fill out a support ticket:
        <a href="https://sc.ge.com/*atlas-help" style="color:#00b5e2">Click Here</a>
        </p> -->
  