// table{
//     font-size: 13px;
//     thead{
//         vertical-align: top;
//         font-size: 13px;
//     }
//     .cursor-pointer{
//         cursor: pointer;
//         font-size: 16px;
//         color: #09b2c7;
//     }
// }
.title{
    padding: 10px 0;
    font-weight: bold;
    color: #4da751;
}
.custom-table {
    background-color: #f8f9fa;
    font-size: 0.7rem;
}

.custom-table thead th {
    position: sticky;
    font-size: 0.7rem;
    top: 0;
    background-color: #f8f9fa;
}

.custom-table th,
.custom-table td {
    padding: 10px;
}

::ng-deep .mat-dialog-container{
    padding: 18px !important;
    border: 0.4em solid #00acc1;
    background: #e7e7e7;
    border-radius: 7% !important;
}

.timelinestyle
{
    cursor:pointer;
}

.timelinestyle:hover{
    color: #08bdff;
    font-weight:bolder !important;
}