<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Resources List</h4>
                        <p class="card-category"> For actions click on the buttons</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered custom-table">
                                <thead class="text-center">
                                    <th>
                                        EMPLOYEE ID
                                    </th>
                                    <th>
                                        EMPLOYEE NAME
                                    </th>
                                    <th>
                                        PROJECT ID
                                    </th>
                                    <th>
                                        PROJECT NAME
                                    </th>
                                    <th>
                                        EMPLOYEE - EMAIL ID
                                    </th>
                                    <th>
                                        GE BUSINESS ACCOUNT
                                    </th>
                                    <!-- <th>
                                        ABL Service line
                                    </th> -->
                                    <th>
                                        EMPLOYEE TYPE
                                    </th>
                                    <th>
                                        ACTION
                                    </th>
                                </thead>
                                <tbody class="text-center">
                                    <tr *ngFor="let emp of employee">
                                        <td>
                                            {{emp.empId}}
                                        </td>
                                        <td>
                                            {{emp.empName}}
                                        </td>
                                        <td>
                                            {{emp.projectId}}
                                        </td>
                                        <td>
                                            {{emp.accountName}}
                                        </td>
                                        <td>
                                            {{emp.emailId}}
                                        </td>
                                        <td>
                                            {{emp.projectName}}
                                        </td>
                                        <!-- <td>
                                            {{emp.abl}}
                                        </td> -->
                                        <td>
                                           {{emp.empType}}
                                        </td>
                                        <td>
                                            <i class="fa fa-eye cursor-pointer" title="Click Here" (click)="OpenDialog(emp)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>