.card-header-success{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
    background: linear-gradient(60deg,#26c6da,#00acc1);
    border-radius: 3px;
    margin: -20px 15px 0;
    color: #fff;
}
// table{
//     font-size: 13px;
    
//     thead{
//         vertical-align: top;
//         font-size: 13px;
//     }
//     .cursor-pointer{
//         cursor: pointer;
//         font-size: 16px;
//         color: #09b2c7;
//     }
// }
.custom-table {
    background-color: #f8f9fa;
    font-size: 13px;
}

.custom-table thead th {
    position: sticky;
    font-size: 13px;
    top: 0;
    background-color: #f8f9fa;
}

.custom-table th,
.custom-table td {
    padding: 10px;
}