<div (click)="closeDialog()" class="d-flex justify-content-end">
    <i class="fa fa-times" aria-hidden="true"></i>
</div>
<div class="container-fluid">
    <div class="card-header card-header-success">
        <h4 class="card-title">TIMELINE CHART</h4>
    </div>
    <div class="single-box">
        <div class="custom"></div>
        <div class="start-area">
            <span>Start</span>
        </div>
        <div class="content mt-5 mb-3" style="background-color: #e7e7e7; box-shadow: 0px 0px 0px #e7e7e7;
        border: 0px">

        </div>
    </div>
    <div class="single-box">
        <div class="custom"></div>
        <div class="date-area">
            <span>HJ</span>
        </div>
        <div class="content">
            <h2>Himanshu Janbandhu | 46209098</h2>
            <div class="d-flex justify-content-center"><h3>Resource Added:</h3><p>2023-07-18 10:36:00</p></div>
        </div>
    </div>
    <div class="single-box box-right">
        <div class="custom"></div>
        <div class="date-area">
            <span>HJ</span>
        </div>
        <div class="content">
            <h2>Himanshu Janbandhu | 46209098</h2>
            <div class="d-flex justify-content-center"><h3>Onboarding Initiated:</h3><p>2023-07-19 13:30:00</p></div>
        </div>
    </div>
    <div class="single-box">
        <div class="custom"></div>
        <div class="date-area">
            <span>HJ</span>
        </div>
        <div class="content">
            <h2>Himanshu Janbandhu | 46209098</h2>
            <div class="d-flex justify-content-center"><h3>BGV Initiated:</h3><p>2023-07-19 14:00:00</p></div>
        </div>
    </div>
    <div class="single-box box-right">
        <div class="custom"></div>
        <div class="date-area">
            <span>HJ</span>
        </div>
        <div class="content">
            <h2>Himanshu Janbandhu | 46209098</h2>
            <div class="d-flex justify-content-center"><h3>Onboarding Completed:</h3><p>2023-07-20 15:36:00</p></div>
        </div>
    </div>
    <div class="single-box">
        <div class="custom"></div>
        <div class="end-area">
            <span>End</span>
        </div>
        <div class="content mt-2" style="background-color: #e7e7e7; box-shadow: 0px 0px 0px #e7e7e7;
        border: 0px">
        </div>
    </div>
</div>